<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= titulo%></title>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1"><%= h1%></h1>
            <p>Soy Frank Steven Jaimes Pedrozo, tengo 21 años, soy estudiante de último semestre en "Tecnología
            en Desarrollo de Sistemas Informáticos". Apasionado por la tecnología y el desarrollo de software, 
            me destaco por mi rápida adaptación a nuevas tecnologías, responsabilidad, y capacidad para trabajar
            tanto en equipo como de manera autónoma. Busco constantemente mejorar mis habilidades y estoy motivado
            por enfrentar desafíos y crear soluciones.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>